

#macy-container {
	margin-bottom: 20px;
}


.colm {
	background-color: #f1f3f4;
	overflow: visible !important;
}

.colm.first {
    box-shadow: 12px 11px 22px rgba(0,0,0,0.2);
}

.colm .copy {
	padding: 20px;
}

.colm h2 {
	font-size: 23px;
	margin-bottom: 12px;
}

.colm span {
	font-size: 16px;
	margin-bottom: 12px;
	display: block;
}

.colm a.readmore {
	color: #daa964;
}

.colm p {
	font-size: 15px;
	margin-bottom: 12px;
	color: #2e2e2e;
}

.colm a h3 {
	color: #000 !important;
}

.colm a:hover h3 {
	color: #daa964;
}

.colm .readmore {
    display: block;
    margin-top: 10px;
	float: left;
}
.colm img.readmore {
	display: block;
    margin-top: 15px;
    float: left;
    height: 10px;
    margin-left: 5px;
    line-height: 10px;
}

.colm .article {
	padding: 16px 16px 0;
}

.article-icon {
	width: 38px;
	height: 38px;
	background-color: #daa964;
	border-radius: 50%;
	background-image: url('../img/article-icon.png');
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	float: left;
}

.article .date {
    display: block;
    float: left;
    height: 38px;
    line-height: 38px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
	margin-bottom: 0;
}

.article h3 {
    font-weight: bold;
    font-size: 18px;
	line-height: 22px;
    margin-bottom: 6px;
}

.article p {
    font-size: 14px;
	line-height: 18px;
	margin-bottom: 0;
}

.article img {
    width: 100%;
	position: relative;
	bottom: -20px;
    box-shadow: 12px 11px 22px rgba(0,0,0,0.2);
}

.article .readmore {
    width: auto;
    bottom: 0;
}

@media only screen and (max-width: 991px) {
	.article h3 {
		font-size: 14px;
		line-height: 18px;
	}
	.article-icon {
		width: 28px;
		height: 28px;
		background-size: 48% auto;
	}
	.article .date {
		height: 26px;
		line-height: 26px;
		margin-left: 10px;
		font-size: 11px;
	}
	.article p {
		font-size: 12px;
		line-height: 15px;
		margin-left: 0;
	}
}
