.gallery-list {
	display: none;
}

.gallery-list.active  {
	display: block;
}

.gallery-ul {
    padding: 0 !important;
    margin-bottom: 30px !important;
}

.owl-carousel .owl-item.center img {
	width: 140%;
	margin-left: -20%;
	margin-top: 0;
	z-index: 2;
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);
}

.owl-carousel .owl-item.center  .cover {
	width: 140%;
	margin-left: -20%;
}

.owl-carousel .owl-item.center .cover h3 {
	font-size: 30px !important;
}

.owl-carousel .owl-item.center .cover h3:hover i {
	color: #daa964 !important;
}

.owl-carousel .owl-item {
	position: relative;
	z-index: 1;
    margin-bottom: 30px;
}

.owl-carousel .owl-item .item {
	position: relative;
}

.owl-carousel .owl-item .cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	top: 0;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.owl-carousel .owl-item .cover h3 {
	color: #fff !important;
	font-size: 20px;
	position: relative;
	top: 40%;
}

.owl-carousel .owl-item .cover .view {
    display: inline-block;
    margin-top: 5px;
	color: #fff;
	display: none;
}

.owl-carousel .owl-item.center .view {
	display: block;
}

.owl-carousel .owl-item.center .view i {
	color: #fff;
}

.owl-carousel .owl-item img {
	margin-top: 30px;
	margin-bottom: 0;
	transition: width .2s;
    border-radius: 10px;
}

.owl-carousel .owl-item.center {
	z-index: 2;
}

.gallery-wrap {
	position: relative;
	margin-top: 30px;
}

#gallery-carousel {
    margin: 0 3%;
	width: 93%;
	height: 270px;
}

.nav {
	margin: 30px 30px;
	height: 26px;
    width: 12px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
}

.nav.prev {
	left: 0;
	background-image: url('../img/carousel-left.png');
}

.nav.next {
	right:0;
	background-image: url('../img/carousel-right.png');
}

.lb-download {
	display: block;
    float: right;
    width: 30px;
    height: 30px;
    text-align: right;
    outline: 0;
    font-size: 27px;
    color: #e5c393;
    margin-right: 10px;
}

.lb-data .a2a_kit {
	float: right;
    margin: 0;
    height: 30px;
    margin-left: 20px;
    display: block !important;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.lb-data .a2a_svg {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    height: 27px;
    line-height: 27px;
    padding: 0;
    width: 27px;
	background-color: rgb(229, 195, 147) !important;
}

.lb-data .lb-details {
    width: 35% !important;
}

.lb-data .share {
	float: left;
    display: block;
    width: 40px;
    height: 30px;
    line-height: 25px;
    color: #e5c393;
    text-transform: uppercase;
    margin-right: 20px;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-radius: 0;
    padding-bottom: 5px;
    background-color: #fff;
}

.lightbox .lb-image {
    border: 4px solid #ffffff !important;
    border-radius: 0;
}


@media only screen and (max-width: 1200px) {	
	#gallery-carousel {
		height: 270px;
	}
}

@media only screen and (max-width: 991px) {	
	#gallery-carousel {
		height: 170px;
	}
}

@media only screen and (max-width: 767px) {	
	#gallery-carousel {
		height: 220px;
	}
}

@media only screen and (max-width: 600px) {	
	#gallery-carousel {
		height: auto;
	}
}