
#home-slider .owl-dots {
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    text-align: center;
}

#home-slider .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    float: none;
	outline: 0 !important;
}

#home-slider .owl-dot.active {
    background-color: #daa964;
}

#home-slider .container {
	position: relative;
}

.slider-prev {
	background-image: url('../img/carousel-left-white.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 36px;
	position: absolute;
	top: 50%;
	left: 50px;
	z-index: 1;
	margin-top: -18px;
}

.slider-next {
	background-image: url('../img/carousel-right-white.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 36px;
	position: absolute;
	top: 50%;
	right: 50px;
	z-index: 1;
	margin-top: -18px;
}

.sidebar {
    padding: 17px 0 17px 40px;
}

.sidebar h3 {
	font-size: 18px;
	text-align: center;
	color: #daa964;
    font-weight: bold;
    margin-bottom: 15px;
}

#weather {
	color: #2e2e2e;
	font-size:14px;
	text-align:center;
	margin-bottom: 30px;
}

#weather span {
    font-size: 33px;
    font-weight: 500;
    color: #daa964;
}

#weather .celsius {
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: -4px;
    left: -3px;
}

#weather .col-md-6:first-of-type {
    border-right: 2px solid #daa964;
}

#ambassador {
	margin: 20px 0 10px;
}

#ambassador .copy {
	padding: 30px;
	height: 100%;
}

#ambassador h2 {
	font-size:23px;
	margin-bottom: 10px;
}

#ambassador .row {
	position:relative;
}
#ambassador .left {
	float:left;
	width: 40%;
	overflow: hidden;
}

#ambassador .right {
	float:right;
	width: 60%;
    box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.2);
}

#ambassador span {
	font-size: 16px;
	margin-bottom: 10px;
	display:inline-block;
}

#ambassador p {
	font-size: 15px;
	color:#2e2e2e;
	margin-bottom: 15px;
	display:inline-block;
}

#ambassador a {
	color: #daa964;
	display:inline-block;
}

#ambassador-photo {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-image: url('../img/hafsa-g.jpg');
	background-repeat: no-repeat;
	width: 40%;
	background-size: auto 100%;
	background-position: center;
}

#alerts .icon {
	background-color:#daa964;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display:block;
	text-align: center;
	line-height: 70px;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	top: -35px;
	box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.2);
}

#alerts .col {
	margin-top: 60px;
}

#alerts .body {
	background-color: #f1f3f4;
	border-radius:20px;
	min-height: 300px;
    padding: 60px 30px 30px;
}

#alerts h3 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#alerts p {
	font-size: 15px;
	color: #2e2e2e;
	margin-left: 15px;
	margin-bottom: 20px;
}

#alerts a {
	color: #daa964;
}

#alerts .col:last-of-type {
	margin-bottom: 40px;
}

@media only screen and (max-width: 991px) {	
	#alerts .body {
		min-height: 100px;
	}
}


@media only screen and (max-width: 767px) {	
	.sidebar {
		padding: 17px 0 !important;
	}
	.slider-next, .slider-prev {
		height: 26px;
		top: 41%;
	}
	#home-slider .owl-dots {
		bottom: 10px;
	}
}

@media only screen and (max-width: 520px) {	
	.slider-next, .slider-prev  {
		height: 16px;
	}
	#ambassador-photo {
		width: 100%;
		height: 200px;
		width: 100%;
		background-size: 100% auto;
		background-position: top center;
	}
	#ambassador .left, #ambassador .right {
		width: 100%;
	}
    
    #ambassador .left {
        height: 200px;
    }
}

@media only screen and (max-width: 420px) {	
	#ambassador-photo,#ambassador .left  {
		height: 150px;
	}
}

@media only screen and (max-width: 320px) {	
	#ambassador-photo {
		height: 120px;
	}
}
