#main-content {
	min-height: 420px;
}

#section-content .section ul, 
#section-content .section ol {
	padding-left:32px;
	margin-bottom: 0;
} 

#section-content .section th {
	color: #fff;
    padding: 13px 22px;
    background-color: #daa964;
    border-right: 1px solid #ccc;
} 

#section-content .section table p {
	margin-bottom: 0;
} 

.no-border {
	border: 0 !important;
	padding: 0 !important;
}

#inner-sidebar ul {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
    margin-bottom: 30px;
}

#inner-sidebar {
	padding-right: 30px;
}
#inner-sidebar ul li {
	list-style: none;
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 8px 0;
	background-image: url('../img/arrow-down.png');
	background-position: right 8px;
	background-repeat:no-repeat;
	padding-right: 10px;
}

#inner-sidebar ul li:first-of-type {
    margin-top: 0;
}

#inner-sidebar ul li ul {
	display: none;
    margin-bottom: 0;
}

#inner-sidebar ul li.active {
	background-image: url('../img/arrow-up-active.png');
}

#inner-sidebar ul li.no-child {
	background-image: none !important;
}

#inner-sidebar ul li.active ul {
	display: block;
    margin-top: 10px;
}

#inner-sidebar ul li  a {
	font-size: 16px;
	font-weight: bold;
	color: #2e2e2e;
    line-height: 22px;
    display: inline-block;
    width: 105%;
}

#inner-sidebar ul li  li a {
	font-size: 14px;
}

#inner-sidebar ul li  a:hover {
	color: #daa964;
	text-decoration: none !important;
}
#inner-sidebar ul li  a:focus, #inner-sidebar ul li  a:active {
	text-decoration: none !important;
}

#inner-sidebar ul li  a.active {
	font-weight: bold;
	color: #daa964;
}

#inner-sidebar ul li  ul {
	margin-left: 10px;
}

#inner-sidebar ul li  ul li {
	border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
	background-image: none;
}

#inner-sidebar ul li  ul li a.active {
    padding-bottom: 1px;
}

#section-content strong {
	color: #daa964;
}

#section-content {
	font-size: 16px;
	color: #2e2e2e;
	margin-bottom:40px;
    text-align: justify;
}

#ambassador .copy, #alerts p {
    text-align: justify;
}

#section-content a {
    color: #e38d13;
    font-weight: bold;
}

#section-content h1,#section-content h2,#section-content h3,#section-content h4,#section-content h5,#section-content h6 {
	color: #daa964;
	margin-top: 0;
	font-size: 20px;
	font-weight: bold;
}

#section-content .section {
	display: none;
}

#section-content .section.active {
	display: block;
}

.gallery-list ul {
	margin: -1% -2%;
	padding:0;
}

.gallery-list li {
	width: 29%;
	float:left;
	margin: 1% 2%;
	border-radius: 10px;
	overflow: hidden;
    box-shadow: 8px 11px 15px rgba(0,0,0,0.2);
	padding: 0;
}

.map-list p {
	margin-bottom: 3px;
}

.map-list strong {
    color: #8a8888 !important;
}

.map-list .row {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #ffd292;
	padding-bottom: 25px;
}

.map-list .row:last-of-type {
	border-bottom: 0;
}

.map-list .mapouter {
	margin-bottom: 30px;
}

.lb-outerContainer {
	border-radius: 0 !important;
}

#article-single p, #article-single span {
	font-family: 'Roboto';
	font-size: 16px !important;
	color: #2e2e2e;
    margin-bottom: 24px;
    text-align: justify;
}

.yellow-txt, #article-single strong {
	color: #daa964 !important;
}

#article-single h1, #article-single h2, #article-single h3, #article-single h4, #article-single h5, #article-single h6 {
	font-weight: bold;
	color: #daa964;
	margin-bottom: 14px;
}

#article-single h1 {
	font-size: 24px;
}

#article a {
	color: #daa964;
}

#article-single h2 {
	font-size: 22px;
}

#article-single h3 {
	font-size: 20px;
}

#article-single h4 {
	font-size: 18px;
}

#article-single h5 {
	font-size: 16px;
}

#article-single h6 {
	font-size: 14px;
}

#article-single a {
	color: #daa964;
}

#section-content .section table {
	width:100%;
	border: 1px solid #a1a1a1;
	border-color: #a1a1a1;
	border-collapse: separate !important;
	overflow: hidden;
}

#section-content .section table strong {
	color: #2e2e2e;
}

#section-content .section table td {
	padding: 6px 20px;
	border: 1px solid #ccc;
}

#section-content .section table tr {
}

#section-content .section table tr:last-of-type {
}

.icon-link {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	font-size: 14px;
    display: inline-block;
	border-right: 1px solid #daa964;
    margin-right: 7%;
    padding-right: 7%;
}

.icon-link:last-of-type {
	border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.icon-link.download {
	background-image: url('../img/download-icon.png');
}

.icon-link.share {
	background-image: url('../img/share-icon.png');
}

.a2a_kit {
	text-align: center;
	margin-top: 15px;
}
.a2a_kit a {
	float: none !important;
	display: inline-block !important;
}

.a2a_svg {
	background-color: rgb(228, 172, 97) !important;
}

.panel-title a {
	color: #434343 !important;
    font-size: 16px !important;
    text-decoration: none !important;
    font-weight: 800;
}

.panel-default>.panel-heading {
	background-image: none !important;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-top: 1px solid #cbcbcb;
    border-radius: 0;
}

.panel-group .collapse p {
}

.panel-group .panel {
	border: 0;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.panel-group .panel-colapse {
	padding: 0 20px;
}

form input[type=text], form select {
	font-size:12px;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	margin-bottom: 20px;
	border-radius: 20px;
	border:1px solid #ccc;
}

form input[type=submit] {
	font-size:12px;
	width: 100%;
	height: 40px;
	color: #fff;
	padding: 0 60px;
	line-height: 40px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: #daa964;
	text-transform: uppercase;
	float: right;
	width: auto;
	border:0;
}

form input[type=text]:focus {
	border-radius: 20px;
	border:1px solid #daa964;
	outline: none;
}

form label {
	font-size: 14px;
	color: #2e2e2e;
	font-weight: 600;
}

@media only screen and (max-width: 991px) {	
	#inner-sidebar ul li a {
		font-size: 14px;
	}	
	#inner-sidebar ul li {
		margin: 5px 0;
	}
		
	.gallery-list ul {
		margin: -1% -2%;
	}

	.gallery-list li {
		width: 46%;
		float:left;
		margin: 2% 2%;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 8px 11px 15px rgba(0,0,0,0.2);
		padding: 0;
	}
}

@media only screen and (max-width: 767px) {	
	#inner-sidebar ul li a {
		font-size: 14px;
	}	
	#inner-sidebar ul li {
		margin: 5px 0;
	}
}

@media only screen and (max-width: 520px) {
		
	.gallery-list ul {
		margin: -1% -2%;
	}

	.gallery-list li {
		width: 96%;
		float:left;
		margin: 2% 2%;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 8px 11px 15px rgba(0,0,0,0.2);
		padding: 0;
	}
}
