body {
    font-family: 'Tajawal';
    text-align: right;
}

#main-nav {
    direction: rtl;
}

#ambassador .left {
    float: right !important;
}

#ambassador .right {
    float: left !important;
}
#ambassador-photo {
    left: auto !important;
    right: 0;
}

#section-content .section ul, #section-content .section ol {
    direction: rtl;
}

#inner-sidebar ul li {
    background-position: left 8px !important;
}

#weather .col-md-6:first-of-type {
    border-right: none !important;
    border-left: 2px solid #daa964;
}

.sidebar {
    padding: 17px 40px 17px 0 !important;
}

#footer {
    text-align: right;
}

#footer ul {
    text-align: right;
}

.colm span {
    float: right;
}
.article .date {
    margin-left: 0 !important;
    margin-right: 20px;
    float: right !important;
}

.colm a.readmore, .colm img.readmore {
    float: right !important;
}

img.readmore {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 5px;
}

#alerts a, #ambassador a {
    float: right;
}

#alerts h3 {
    direction: rtl;
}

#inner-sidebar {
    padding-right: 0 !important;
    padding-left: 30px;
}

#article-single form input[type=text], #article-single form select {
    text-align: right;
}

#section-content, #alerts p, #article-single, #article-single p {
    direction: rtl;
    font-family: 'Tajawal' !important;
}

#ambassador .copy {
    padding: 15px 30px;
}

#ambassador p {
    font-size: 12px !important;
    margin-bottom: 10px !important;
    direction: rtl !important;
}

#ambassador h2 {
    font-size: 20px !important;
    margin-top: 0 !important;
}


@media only screen and (max-width: 991px) {
    #inner-sidebar ul li a {
        width: 100% !important;
    }
}