

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	color:#daa964;
	text-decoration: none;
}

.mb-0 {
	margin-bottom: 0 !important;
}

#header img {
    max-width: 500px;
}

#header .container-fluid {	
	background-color: #f1f3f4;
}

#searchbt {
    display: none;
}

#top {
	padding: 20px 0;
	position: relative;
}

#lang {
	padding: 0;
	margin:0;
	position:absolute;
	right:0;
	bottom:0;
}

#lang li {
	list-style: none;
	float: left;
	border-right: 1px solid #ccc;
	padding: 0 8px;
}

#lang li:last-of-type {
	border-right: 0;
}

#lang li a {
	font-size: 14px;
	color: #888888;
	font-weight: bold;
}

#lang li a.active, #lang li a:hover {
	color: #daa964;
}

#menu {
	padding: 30px 0;
}

#main-nav {
	padding: 0;
	margin: 0;
	text-align: center;
} 

#main-nav li {
	display: inline-block;
	list-style: none;
	position: relative;
    margin-bottom: 10px;
}

#main-nav li a {
	font-size: 16px;
	color: #2e2e2e;
	margin: 0 30px;
    padding-bottom: 2px;
}

#main-nav li a:hover {
	color: #daa964;
}

#main-nav li a.active {
	color: #daa964;
	font-weight: bold;
    border-bottom: 1px solid #daa964;
}

#main-nav li ul {
	position: absolute;
    width: 300px;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #f1f3f4;
	display: none;
}

#main-nav li ul li{
	float: left;
    width: 100%;
    padding: 3px 15px;
    text-align: left;
}

#main-nav li ul li a {
	float: left;
    width: 100%;
    padding: 2px 0;
    margin: 0;
	color: #5f5f5f;
}

#main-nav li ul li a:hover {
	color: #daa964;
}

#main-nav li:hover ul {
	display: block;
    padding: 15px 0;
    min-width: 240px;
}

#search {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #daa964;
    color: #daa964;
    padding: 0 30px 0 0;
    background-image: url(../img/search.png);
    background-position: right top;
    background-repeat: no-repeat;
    height: 25px;
    line-height: 25px;
    width: 90%;
    border-radius: 0;
    font-size: 14px !important;
}

#search:focus {
	outline: 0;
}

#dubaiDay, #dubaiTemp, #dubaiTime, #berlinDay, #berlinTemp, #berlinTime {
    display: inline-block;
}

#search::placeholder {
  color: #daa964;
}

#footer {
	background-color	: #f1f3f4;
	padding: 32px 0;
	text-align: left;
	color: #2e2e2e;
}

#footer ul {
    margin: 0;
    padding: 0;
    text-align: left;
}

#footer ul li {
    list-style: none;
}

#footer h4 {
    font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

#footer a {
    font-size: 13px;
	color: #2e2e2e;
}

#footer a:hover {
	color:#daa964;
}

#footer .socials {
    float: right;
    width: 100%;
}

#footer .socials li {
    float: right; 
    width: 33%;
    text-align: center;
}

#footer .socials li a {
	font-size: 30px;
	color: #daa964;
}

#footer .socials li a:hover {
	color: #2e2e2e;
}

#footer .socials i {
	font-family: 'Font Awesome 5 Brands';
}

#copyright {
	float: right;
	text-align: right;
	margin-top:15px;
	font-size: 13px;
	line-height: 16px;
}

#menu-icon {
  cursor: pointer;
  float: left;
  display: none;
}

#menu-icon.change  {
    position: absolute;
    left: 12px;
    top: 0;
	z-index: 100;
}

#menu-icon.change .bar1, #menu-icon.change .bar3  {
    background-color: #fff;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #daa964;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-3px, 2px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
	#search {
		width: 50%;
		margin: 30px 25% 0;
	}
    
    #main-nav li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
	#footer ul {
		margin-bottom: 20px;
	}
	
	#footer, #footer ul li {
		text-align: center;
	}
	
	#footer .socials {
		float: none;
		width: 33%;
		margin: 0px 33%;
	}

	#copyright {
		float:left;
		width:100%;
		text-align:center;
	}
		
	#main-nav {
		padding: 30px 0;
		margin: 0;
		text-align: center;
		position: absolute;
		z-index: 11;
		background-color: #daa964;
		top: -30px;
		left: -100%;
		transition: 0.4s;
		width:100%;
	}
		
	#main-nav li {
		width:100%;
	}
	
	#main-nav.active {
		left: 0;
	}
	
	#main-nav li {
		width: 100%;
		padding: 10px 0;
	}
	
	#main-nav li a {
		color: #fff;
	}
	
	#main-nav li a.active, #main-nav li a:hover {
		color: #575757;
	}
	
	#main-nav li ul {
		display: none !important;
	}
	
	#search {
		width: 30%;
		float: right;
		margin: 0;
	}
	
	#lang {
		width: 100%;
		text-align: center;
		top: 0;
	}
	
	#lang li {
		float: none;
		display: inline-block;
	}
	
	#header img {
		margin-top: 40px;
	}
	
	#menu-icon {
		display: inline-block !important;
	}
}

@media only screen and (max-width: 520px) {
	#search {
		width:50%;
	}
	
	#header img {
		margin-top: 40px;
		width: 100%;
	}
}
