#main-timeline {
    margin: 0 6%;
	width: 88%;
    direction: ltr;
}

#sub-timeline {
    margin: 0 6%;
	width: 88%;
	margin-top: 30px;
    direction: ltr;
}

#time-line {
	display: block;
	width: 100%;
	border-right: 1px solid #daa964;
	border-left: 1px solid #daa964;
	height: 12px;
	background-image: url('../img/time-line.png');
	background-position: center;
	background-repeat:  repeat-x;
}

#time-line .space {
	width: 33.33%;
	float: left;
	text-align: center;
	height: 12px;
}

#time-line .space .line {
	display: inline-block;
	height: 12px;
	width: 1px;
	top: -2px;
	position: relative;
	background-color: #daa964;
}

.timeline-wrap {
	position: relative;
    margin-top: 30px;
}

.timeline-wrap .nav {
	height: 36px;
	width: 20px;
	position: absolute;
	top: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -18px;
}

.timeline-wrap .nav.prev {
	left: 0;
	background-image: url('../img/carousel-left.png');
}

.timeline-wrap .nav.next {
	right:0;
	background-image: url('../img/carousel-right.png');
}

#time-line .space .dot {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	top: -2px;
	position: relative;
	background-color: #daa964;
}

#sub-timeline .owl-item {
	text-align: center;
}

#sub-timeline .owl-item p {
	margin-top: 12px;
}

#sub-timeline .highlight strong {
	font-size: 20px;
	transition: .5s;
}
#sub-timeline .highlight p {
	font-size: 18px;
	transition: .5s;
}


@media only screen and (max-width: 620px) {
	#time-line .space .line {
		display: none;
	}
} 
